body{
    background-color:#98FB98;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
}

h1{
    color:darkblue;
    background-color: aqua;
}

h2{
    color:darkred;
}

p{
    text-align:justify;
}